@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
    font-family: "Barlow", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    width: 100vw;
    color: #eee;

    background-color: rgb(33, 53, 63);
    background-position: top;
    background-repeat: repeat-y;
    background-size: 300%;

    overflow-x: hidden;
}

.router {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 70px auto;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 450px;
  padding: 10px 10px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.cardBody {
  width: 100%;
  padding: 5px 10px;
  font-size: 1.2em;
}
.cardImg {
  box-sizing: content-box;
  max-width: 350px;
  max-height: 350px;
  padding: 10px;
}

.cardBtn {
  font-family: "Barlow", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #333;
  box-shadow: 0px 5px 5px rgba(80, 80, 80, 0.3);
  margin: 10px auto;
  border: none;
  padding: 0.5em 1.5em;
}

.cardBtn a {
  text-decoration-line: none;
  color: #fff;
  font-size: 1.2em;
}
/* DarkMode */


